<div class="container">
  <div class="oferta" *ngIf="oferta">

    <div class="row">
      <div class="col">
        <a [routerLink]="['/oferta', 1]">
          Oferta 1
        </a>
        <a [routerLink]="['/oferta', 3]">
          Oferta 3
        </a>
        <a [routerLink]="['/oferta', 6]">
          Oferta 6
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h4>{{oferta.titulo}} - {{oferta.descricao_oferta}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="img_capa" *ngIf="oferta.imagens[0]">
          <img [src]="oferta.imagens[0].url" />
        </div>

        <div class="thumbnails">
          <img *ngIf="oferta.imagens[1]" [src]="oferta.imagens[1].url" />
          <img *ngIf="oferta.imagens[2]" [src]="oferta.imagens[2].url" />
          <img *ngIf="oferta.imagens[3]" [src]="oferta.imagens[3].url" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col text-center">
            <p>Por apenas</p>
          </div>

        </div>

        <div class="row">
          <div class="col text-center">
            <h1>{{oferta.valor}}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-warning btn-lg">Adicionar ao carrinho</button>
          </div>
        </div>

      </div>

    </div>

  </div>
  <div class="row mt-3 mb-5" *ngIf="oferta">
    <div class="col">
      <nav>
        <div class="nav nav-tabs" id="myTab" role="tablist">
          <a class="nav-item nav-link" data-toggle="tab" routerLink="comoUsar" routerLinkActive="active" role="tab">
            Como Usar
          </a>
          <a class="nav-item nav-link" data-toggle="tab" routerLink="ondeFica" routerLinkActive="active" role="tab">
            Onde fica
          </a>
        </div>
      </nav>
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>
